/*
	Welcome Page 
*/
.parallax-container.welcome {
	height: 500px;
}

.header {
  position: relative;
  margin-top: 12%;
  z-index: 3;
  color: rgba(255,255,255,.9);
}

.lato-thick {
	font-family: 'Lato', sans-serif;
	font-weight: 700;
}

.lato-medium {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
}

.lato-thin {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
}

.white {
	color: #ffffff;
}

.content {
	width: 1000px;
}

.light-section {
	background-color: #ffffff;
}

.dark-section {
	background-color: #000000;
}

.marvel-device.ipad.landscape {
	width: 640px;
	height: 480px;		
}

/*

	About Page 
*/
p.left-align.light {
	text-align: justify;
}


/* 
	Mandelbrot Set Page 
*/
#mandelbrot-set .card {
	display: inline-block;
	min-width: 300px;
	max-width: 384px;
	margin-right: 10px;
}

#mandelbrot-set .card-content {
	text-align: left;
}

.mandel-set-card {
	display: inline-block;
}


/* Our Clients */
.client-card {
	width: 284px;
	height: 150px;
	margin-right: 10px;
	margin-bottom: 10px;
	display: inline-block;
	vertical-align: middle;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
	border-radius: 2px 2px 2px 2px;
	-moz-border-radius: 2px 2px 2px 2px;
	-webkit-border-radius: 2px 2px 2px 2px;
	border: 0px solid #000000;	
}

.Centerer {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.client-card.hoverable img {
    display: inline-block;
    vertical-align: middle;
}

/*
	Services Page
*/
.service-container {
	display: inline-block;
	width: 200px;
}

.service-icon {
	font-size: 50pt;
	color: #1cb0a1;	
	cursor: pointer;
}

.service-icon:hover {
	color: #db3502;
}

.service-description {
	font-size: 14pt;
}


/* 
	Team Page 
*/
.team-member-card-container {
	height: 570px;
	width: 320px;
	display: inline-block;
	margin-right: 10px;
	margin-bottom: 120px;
	color: #000000;
	cursor: default;
}

.hexagon {
	position: absolute;
	z-index: 1;
	margin-left: 60px;
	width: 205px;
	height: 233px;
	overflow: hidden;
	color: #fff;
	-webkit-mask-image: url('http://i40.tinypic.com/kajqg.jpg');
	text-align: center;
	display: inline-block;	
}

.hexagon .content{
	height: 186px;
	width: 186px;
	margin: auto;
	margin-top: 16px;
}

.team-member-card {
	position: relative;
	z-index: 0;
	top: 100px;
	width: 100%;
	height: 570px;
	display: inline-block;
	vertical-align: top;
	border-radius: 2px 2px 2px 2px;
	-moz-border-radius: 2px 2px 2px 2px;
	-webkit-border-radius: 2px 2px 2px 2px;
	border: 0px solid #000000;	
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);	
}

.team-member-card-content {
	position: relative;
	display: inline-block;
	margin-top: 140px;
}

.team-member-card:hover .team-member-card-footer {
	background-color: #db3502;
    transition: box-shadow .25s;
}

.team-member-card-head {
	position: relative;
	display: inline-block;
	font-size: 14pt;
	font-weight: 500;
}

.team-member-card-sub {
	position: relative;
	display: inline-block;
	font-size: 12pt;
}

.team-member-card-p {
	position: relative;
	display: inline-block;
	font-size: 11pt;	
	text-align: justify;
	padding-left: 20px;
	padding-right: 20px;
}

.team-member-card-footer {
	position: absolute;
	height: 50px;
	width: 100%;
	bottom: 0;
	background-color: #1cb0a1;
	color: #ffffff;
	font-size: 20pt;
	line-height: 50px;
	vertical-align: middle;
	-webkit-border-bottom-right-radius: 2px;
	-webkit-border-bottom-left-radius: 2px;
	-moz-border-radius-bottomright: 2px;
	-moz-border-radius-bottomleft: 2px;
	border-bottom-right-radius: 2px;
	border-bottom-left-radius: 2px;
}

.team-member-card-footer .fa {
	margin-right: 20px;
}

.team-member-card-footer a {
	color: #FFFFFF;
}

/*
	Contact Us Page
*/
#map {
    width:	100%;
    height: 500px;
}

.contact-text {
	font-size: 14pt;
}